body{
    background-color: rgb(12, 12, 36);
    color: white;
}
.container{
    scroll-behavior:smooth;
    overflow: auto;
    height: 300px;
    width: 300px;
    border: 2px dotted white;
    margin: 2rem auto;
    padding: 1rem;
}
button{
    cursor: pointer;
    display: block;
    padding: .5rem 1.5rem;
    margin: 2rem auto;
    background-color: inherit;
    color: aliceblue;
    outline: none;
    border: 1px solid white;

}